{% extends "AppBundle::layout.html.twig" %}
{% if customer_form is defined %}
{% form_theme customer_form 'bootstrap_3_layout.html.twig' %}
{% endif %}

{% block title %}Customers{% endblock %}

{% block body %}
    <!-- Tables
    ================================================== -->
    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-12" id="app-7">
                <div class="page-header">
                    <h1 id="tables">New Customer</h1>
                </div>
                {{ form_start(customer_form) }}
                {{ form_widget(customer_form) }}
                {{ form_end(customer_form) }}
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ asset('/assets/js/customer_form.js') }}"></script>
{% endblock %}
