{% extends "AppBundle::layout.html.twig" %}
{% if customer_form is defined %}
{% form_theme customer_form 'bootstrap_3_layout.html.twig' %}
{% endif %}

{% block title %}Customers{% endblock %}

{% block body %}
    <!-- Tables
    ================================================== -->
    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-12" id="app-7">
                <div class="page-header">
                    <h1 id="tables">Saved!</h1>
                </div>
                <div style="font-size: 2em;">Customer has been saved successfully!</div>
            </div>
        </div>
    </div>
{% endblock %}
