{% extends "AppBundle::layout.html.twig" %}

{% block title %}Customers{% endblock %}

{% block body %}
    <!-- Tables
    ================================================== -->
    <div class="bs-docs-section">

        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1 id="tables">All Customers</h1>
                </div>

                <div class="bs-component">
                    <table class="table table-striped table-hover ">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Fullname</th>
                            <th>Country</th>
                            <th>Region</th>
                            <th>City</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for customer in customers %}
                            <tr>
                                <td>{{ customer.id }}</td>
                                <td>{{ customer.name }}</td>
                                <td>{{ customer.getCountry().name }}</td>
                                {% if customer.getRegion() != null %}
                                <td>{{ customer.getRegion().name }}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                {% if customer.getCity() != null %}
                                <td>{{ customer.getCity().name }}</td>
                                {% else %}
                                <td></td>
                                {% endif %}
                                <td><a href="{{ url('customers') }}/{{ customer.getId() }}">Edit</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div align="right"><a class="btn btn-primary" href="/customers/0" role="button">Create new customer</a></div>
                </div><!-- /example -->
            </div>
        </div>
    </div>
{% endblock %}
